RewriteEngine On
#RewriteBase /~user1/Book-shop/server/api/carts/
RewriteBase /user1/books-shop/server/api/carts
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.*)$ index.php?params=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} -s
RewriteRule ^(.*)$ index.php [L,QSA]
